[PSCustomObject]@{
    'RegKey' = 'SOFTWARE\CLASSES\CLSID\{86ca1aa0-34aa-4e8b-a509-50c905bae2a2}\InprocServer32'
    'Enable' = @{
        'Operation' = 'Set'
        'ValueName' = '(Default)'
        'ValueData' = $null
        'ValueType' = 'String'
    }
    'Disable' = @{
        'Operation' = 'Remove'
        'Path' = 'SOFTWARE\CLASSES\CLSID\{86ca1aa0-34aa-4e8b-a509-50c905bae2a2}'
    }
    'Default' = @{
        'Operation' = 'Remove'
        'Path' = 'SOFTWARE\CLASSES\CLSID\{86ca1aa0-34aa-4e8b-a509-50c905bae2a2}'
    }
} | ConvertTo-Json | Set-Content -Path './private/data/ClassicContextMenu.json -Encoding unicode'